// Your variable overrides
$body-bg: #f6fffb;
$body-color: #001600;
$theme-colors: (
    "primary": #006b24
);
@import "../node_modules/bootstrap/scss/bootstrap";

h1 {
  color: map-get($theme-colors, "primary");
}

body {
  margin: 2em;
}

.block {
  border: .1em solid  map-get($theme-colors, "primary");
  margin: 1em 0 0 0;
  border-radius: .5em;

  header {
    color: $body-bg;
    background-color: map-get($theme-colors, "primary");
    padding: .5em;
    border-radius: .3em .3em 0 0;
  }
  &.simple-block header {
    border-radius: .3em;
  }

  header a {
    &:link, &:visited {
      color: $body-bg;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }

  p {
    padding: .3em;
    margin: 0;
  }
}
