// Your variable overrides
$body-bg: #eeffee;
$body-color: #001600;
$theme-colors: (
    "primary": #006b24
);
@import "../node_modules/bootstrap/scss/bootstrap";


h1 {
  color: #55b55e;
}

body {
  margin: 2em;
}


.block {
  border: .1em solid #006b24;
  margin: 1em 0 0 0;
  border-radius: .5em;
}

.block header {
  background-color: #006b24;
  padding: .5em;
  border-radius: .3em .3em 0 0;
}
.block.simple-block header {
  border-radius: .3em;
}

.block header a:link, .block header a:visited {
  color: #333344;
}
.block header a:hover {
  background-color: rgba(0, 0, 0, .1);
}

.block  p {
  padding: .3em;
  margin: 0;
}
