.status-label {
  color: black;
  vertical-align: top;
  background-color: #eeeeee;
  border-radius: .35em;
  padding: .5em 1em;
  font-size: 75%;
}
.unknow {
  color: black;
  background-color: #f1c831;
  border-radius: .35em;
  padding: .5em 1em;
  font-size: 75%;
}
.undefined {
  color: black;
  background-color: white;
  border-radius: .35em;
  padding: .5em;
  font-size: 75%;
}
.ok {
  color: black;
  background-color: #42ed2f;
  border-radius: .35em;
  padding: .5em 1.5em;
  font-size: 75%;
}
.warning {
  color: black;
  background-color: #f29c32;
  border-radius: .35em;
  padding: .5em 1em;
  font-size: 75%;
}
.error {
  color: white;
  background-color: #ed2f2f;
  border-radius: .35em;
  padding: .5em 1em;
  font-size: 75%;
}
